# app
SQLAlchemy==1.4.23
Flask==2.2.2
PyMySQL==1.0.2
Flask-RESTful==0.3.9
marshmallow-dataclass==8.5.3
redis==4.0.2
rq==1.11.1
python-dotenv==0.19.2
Flask-WTF==1.0.0
zeep==3.3.1
Jinja2==3.1.1
xmltodict==0.13.0
gunicorn==20.1.0
Flask-Cors==3.0.10
pdfkit==1.0.0
wkhtmltopdf==0.2
boto3==1.26.50
botocore==1.29.50
psycopg2==2.9.5

#linter
black==22.3.0
isort==5.9.3
mypy==0.910
autoflake==1.4
types-redis==4.0.3

# tests
pytest==7.2.2
pytest-cov==2.12.1
pytest-env==0.8.1
pytest-icdiff==0.6
pylint==2.10.2
requests==2.26.0
requests[socks]
factory-boy==3.2.0
fakeredis==1.7.1
Werkzeug==2.2.2
types-requests==2.27.16
pytest-mock==3.7.0
freezegun==1.1.0

# stress tests
locust
locust-plugins

# utils
ipdb
ipython==7.32.0
flask-shell-ipython
pydash==5.1.0
pycryptodomex==3.9.8

# docs
flasgger==0.9.5

#mambupy
future==0.18.2
MambuPy>=2.0.0.b4
mysqlclient==2.1.0

pandas==1.1.5
xlsxwriter==3.0.3
xlrd==1.1.0
pandas-stubs
types-PyYAML
types-python-dateutil
twilio
